[Unit]
Description=Mass storage gadget

[Service]
Type=oneshot
ExecStart=/usr/local/bin/configure-gadgets
TTYPath=/dev/tty0
TTYReset=yes
StandardOutput=tty

[Install]
WantedBy=multi-user.target
